<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;password=jEy21#7y;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;password=jEy21#7y;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FlightAPIEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;password=jEy21#7y;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model12" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;password=jEy21#7y;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;password=jEy21#7y;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model14" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model15" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model16" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;password=jEy21#7y;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model17" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;password=jEy21#7y;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model3" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model4" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model5" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model6" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model7" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model18" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model8" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model9" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model21" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model31" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model41" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model19" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model22" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model110" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model23" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model111" connectionString="data source=192.169.154.116;initial catalog=FlightAPI;persist security info=True;user id=fllightapioneview;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model112" connectionString="data source=192.169.154.116;initial catalog=AlbadiDemo;persist security info=True;user id=AlbadiDemo;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model113" connectionString="data source=192.169.154.116;initial catalog=AlbadiDemo;persist security info=True;user id=AlbadiDemo;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>